<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Cocktails
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" scrollY="true">
  <ion-content>
    <ion-card *ngFor="let drink of news.drinks">
      <ion-card-header>
        <ion-card-title>{{drink.strDrink}}</ion-card-title>
        <ion-card-subtitle>
          {{drink.strIngredient1}},{{drink.strIngredient2}},{{drink.strIngredient3}},{{drink.strIngredient4}},{{drink.strIngredient5}},
          {{drink.strIngredient6}}
        </ion-card-subtitle>
        <ion-card-content>{{drink.strInstructions}}</ion-card-content>
      </ion-card-header>
    </ion-card>
  </ion-content>
</ion-content>
